* These owners will be the UNTUNG SUTARNO owners for everything in
* the repo. Unless a later match takes precedence,
* @global-owner1 and @global-owner2 will be requested for
* review when someone opens a pull request.

* ajyallan2@gmail.com

